/airbnb-open-data-in-nyc
calendar_detail.csv
neighbourhoods.csv
reviews_summary.csv
listings_detail.csv
neighbourhoods.geojson
listings_summary.csv
reviews_detail.csv
.ipynb_checkpoints
/Django_backend/recommend_list/recommend/listings_detail.csv
